<% include subview/head.ejs %>
<body>
    <div id="wrapper">
        <% include subview/navigation.ejs %>
        <div id="page-wrapper">
            <% include subview/tabs.ejs %>
            <div id="display" class="tab-content">
            </div>
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
</body>
<% include subview/jscript.ejs %>
</html>