<!-- Tabs -->
<ul class="nav nav-tabs" id='tabs'>
    <!-- <li role="presentation" class="active">
        <a href="#">
             即時監控
            <span class="badge">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
        </a>
    </li> -->
    <!-- <li role="presentation">
        <a href="#">Profile</a>
    </li>
    <li role="presentation">
        <a href="#">Messages</a>
    </li> -->
</ul>
<!-- Tabs -->