<!-- Tabs -->
<ul class="nav nav-tabs" id='tabs'>
    <li class="active" >
        <a href="#realtime" data-toggle="tab" data-path="realtime">
             即時監控
        </a>
    </li>
</ul>
<!-- Tabs -->